.hidden {
  visibility: hidden;
}

body {
  background-color: rgba(23, 23, 23, 0.5);
}

div {
  display: block;
}


.modal {
  /* display: none; */
  background: #fff;
  width: 436px;
  height: 536px;
  border-radius: 12px;
  padding: 20px;
  position: relative;
}
.modal-header {
  
}
.modal-body {
  
}
.modal-footer {
  position: relative;
  bottom: 2px;
  display: flex;
  width: 100%;
  justify-content: center;


}
.button {
  color: #fff;
  padding: 8px;
  border: 1px;
  border-radius: 4px;
  margin: 4px;
  width: 100px;

}
.primary-button {
  background: #1edbf9;
  color: #fff;
  padding: 8px;
  border: 1px;
  border-radius: 4px;
  margin: 4px;
  width: 100px;
}
.cancel-button {
  background-color: darkgray;
}